pipeline/DvdCopy_parent.json
{
	"name": "DvdCopy_parent",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": "select table_schema as schemas,\ntable_name as tables\nfrom information_schema.tables\nwhere table_type = 'BASE TABLE'\nand TABLE_SCHEMA not in ('pg_catalog','information_schema');"
					},
					"dataset": {
						"referenceName": "PostgreSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DvdCopy_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Schema": {
										"value": "@item().schemas",
										"type": "Expression"
									},
									"Table": {
										"value": "@item().tables",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-12-11T12:33:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}